<!-- =============== Navigation ================ -->
<div class="container">
  <div class="navigation">
    <h1 class="hhh">Crekey News</h1>
    <span></span>
    <div class="logo-details"></div>
    <ul class="nav-links">
      <ng-container *ngFor="let source of sources">
        <li (click)="findSource(source)">
          <a>
            <i>*</i>
            <span class="link_name">{{ source.name }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>

  <!-- ========================= Main ==================== -->
  <div class="main">
    <div class="topbar">
      <div class="toggle">+</div>

      <div class="user">-</div>
    </div>

    <h1 style="margin-top: 20px; margin-left: 10px;">{{selectedNewsChannel}}</h1>
      <div class="cards-wrapper">
        <div class="card" *ngFor="let article of articles">
          <img [src]="article.urlToImage" alt="" />
          <div class="author">
            <p>{{article.author}}</p>
            <p>{{article.publishedAt | date:"medium"}}</p>
          </div>
          <h3>{{article.title}}</h3>
          <p>
            {{article.description}}
          </p>
          <a [href]="article.url">Read more..</a>
        </div>
      </div>
  </div>
</div>



<script src="../assets/custom.js"></script>
